In [1]:
import sqlite3

database = "sqlite_db_pythonsqlite.db"

conn = sqlite3.connect(database)

In [3]:
# Question 10

query1 = """
    
SELECT f.name,
SUM(CASE WHEN memid = 0 THEN guestcost * slots ELSE membercost * slots END) AS revenue
FROM Bookings  as b
INNER JOIN Facilities as f
ON b.facid = f.facid
GROUP BY f.name
HAVING revenue  < 1000;

    """

cur = conn.cursor()

cur.execute(query1)

rows = cur.fetchall()

rows

[('Pool Table', 270), ('Snooker Table', 240), ('Table Tennis', 180)]

In [29]:
# Question 11

query1 = """
    
SELECT m.surname as member_lastname, m.firstname as member_firstname, m.recommendedby AS recomender_id, r.surname AS recomender_surname, r.firstname AS recomender_firstname
FROM Members AS m
INNER JOIN Members AS r ON m.recommendedby = r.memid
WHERE m.recommendedby != 0
ORDER BY r.surname, r.firstname;

    """

cur = conn.cursor()

cur.execute(query1)

rows = cur.fetchall()

rows

[('Sarwin', 'Ramnaresh', '15', 'Bader', 'Florence'),
 ('Coplin', 'Joan', '16', 'Baker', 'Timothy'),
 ('Genting', 'Matthew', '5', 'Butters', 'Gerald'),
 ('Baker', 'Timothy', '13', 'Farrell', 'Jemima'),
 ('Pinker', 'David', '13', 'Farrell', 'Jemima'),
 ('Rumney', 'Henrietta', '20', 'Genting', 'Matthew'),
 ('Jones', 'Douglas', '11', 'Jones', 'David'),
 ('Dare', 'Nancy', '4', 'Joplette', 'Janice'),
 ('Jones', 'David', '4', 'Joplette', 'Janice'),
 ('Hunt', 'John', '30', 'Purview', 'Millicent'),
 ('Boothe', 'Tim', '3', 'Rownam', 'Tim'),
 ('Joplette', 'Janice', '1', 'Smith', 'Darren'),
 ('Butters', 'Gerald', '1', 'Smith', 'Darren'),
 ('Owen', 'Charles', '1', 'Smith', 'Darren'),
 ('Smith', 'Jack', '1', 'Smith', 'Darren'),
 ('Mackenzie', 'Anna', '1', 'Smith', 'Darren'),
 ('Worthington-Smyth', 'Henry', '2', 'Smith', 'Tracy'),
 ('Purview', 'Millicent', '2', 'Smith', 'Tracy'),
 ('Crumpet', 'Erica', '2', 'Smith', 'Tracy'),
 ('Baker', 'Anne', '9', 'Stibbons', 'Ponder'),
 ('Bader', 'Florence', '9', 'Stibbons', 'Ponder'),
 ('Stibbons', 'Ponder', '6', 'Tracy', 'Burton')]

In [44]:
# Question 12

query1 = """
    
SELECT m.memid, f.name, count(m.memid) as num_usage_by_member
FROM Facilities as f 
INNER JOIN Bookings as b
ON f.facid = b.facid
INNER JOIN Members as m
ON m.memid = b.memid
WHERE m.memid != 0 
GROUP BY f.facid
ORDER BY f.facid

    """

cur = conn.cursor()

cur.execute(query1)

rows = cur.fetchall()

rows

[(2, 'Tennis Court 1', 308),
 (3, 'Tennis Court 2', 276),
 (1, 'Badminton Court', 344),
 (1, 'Table Tennis', 385),
 (1, 'Massage Room 1', 421),
 (4, 'Massage Room 2', 27),
 (1, 'Squash Court', 195),
 (1, 'Snooker Table', 421),
 (1, 'Pool Table', 783)]

In [46]:
# Question 13

query1 = """

SELECT f.name as facility,
mb.month as month,
COUNT(mb.memid) as member_usage
FROM (
SELECT strftime('%m', starttime) as month, memid, facid
FROM Bookings
WHERE memid != 0) as mb
INNER JOIN Facilities as f ON f.facid = mb.facid
GROUP by mb.month;

    """

cur = conn.cursor()

cur.execute(query1)

rows = cur.fetchall()

rows

[('Table Tennis', '07', 480),
 ('Tennis Court 1', '08', 1168),
 ('Tennis Court 1', '09', 1512)]